.h1{
    font-family:"Roboto Light";
}

.ul checkliste li{

}

.div{
    background-color: #f69320;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fa-calendar-day{
    bottom: 0px;
    width: 100px;
}